@{
    ViewBag.Title = "Administration";
}

<h3>@ViewBag.Title</h3>
<hr />
<ul>
    <li><h4>@Html.ActionLink("Room Types", "Index", "RoomTypes")</h4></li>
    <li><h4>@Html.ActionLink("Rooms", "Index", "Rooms")</h4></li>
    <li><h4>@Html.ActionLink("Pricing", "Index", "Pricing")</h4></li>
    <li><h4>@Html.ActionLink("Users", "Index", "Account")</h4></li>
</ul>