@model HRS.Models.Client

<dl class="dl-horizontal">
    <dt>
        Name
    </dt>
    <dd>
        @Html.DisplayFor(model => model.FullName)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Phone)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Phone)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Email)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Email)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Address)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Address)
    </dd>
</dl>

<h5>
    @Ajax.ActionLink("Edit", "EditClient", new { id = Model.BookingID },
        new AjaxOptions { HttpMethod = "Get", InsertionMode = InsertionMode.Replace, UpdateTargetId = "clientDiv" }) |
    @Ajax.ActionLink("Change", "ChangeClient", new { id = Model.BookingID },
        new AjaxOptions { HttpMethod = "Get", InsertionMode = InsertionMode.Replace, UpdateTargetId = "clientDiv", OnSuccess = "updateClientFields" })
</h5>
